@import "./../settings/fonts";
@import "./../settings/colors";


.login {
  display: flex;
  justify-content:flex-end;
  align-items: flex-end;
  flex-direction:column;

  .login__head {
    margin: 10px;
    text-decoration: none;

    a {
      color: $color-fifth;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        border: 0.75px solid $color-third;
        padding: 6px;
      }
    }
  }

  .login__header {
    margin: 3rem;
    text-decoration: none;

    a {
      color: $color-fifth;
      padding: 1rem;
      text-decoration: none;

      &:hover {
        border: 0.75px solid $color-third;
        padding: 6px;
      }
    }
  }
}


.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.login__title {
  font-size: 3rem;
  font-family: $font-base;
  letter-spacing: -0.8px;
}

.login__form {
  margin: 1.5rem;
  padding: 1.8rem;
  background: $color-primary;

  p {
    color: red;
  }

  .login__email {
    padding: 1rem;
  }

  .log__button {
    margin-top: 10px;

    a {
      text-decoration: none;
      color: $color-fifth;
    }

    &__add,
    &__log {

      border-radius: 5px;
      border: 1px solid $color-primary;
      padding: 10px;
      margin: 0px 60px 0px 60px;
    }
  }
}