@import "./../settings/fonts";
@import "./../settings/colors";


.contact__footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background: $color_primary;

  &__title {
    text-align: right;
    font-family: $font-base;
    font-size: 1rem;
    letter-spacing: 0px;
  }

  &__icon {
    color: $color-fifth;

    img {
      padding-left: 5px;
    }
  }
}

